body {
  font-family: sans-serif;
  background-color: #E1D9CF;
  max-width: 1460px;
}

.title {
  text-align: center;
  border: 6px outset;
  font-size: 70px;
  width: 400px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  align-items: center;
}

.project {
  border: 1px black solid;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.biography {
  display: flex;
  width: 80%;
  padding-left: 10%;
}

.biography img{
  max-width: 300px;
  max-height: 300px;
  float: right;
}
